GROQ_API_KEY=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
GROQ_MODEL=llama-3.1-8b-instant

SUPABASE_URL=https://ihjjrbwopuvhrvazvhyl.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImloampyYndvcHV2aHJ2YXp2aHlsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTkzMzc5NSwiZXhwIjoyMDkxNTA5Nzk1fQ.PvPpsJBaMrV5aL7osiRu7cQYmJS_i32J3BcrdhjUMmU

MAURICE_ENABLED=true
MAURICE_MODEL=llama-3.1-8b-instant
MAURICE_MAX_TOKENS=800
MAURICE_TEMPERATURE=0.1
